*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(236, 101, 101);
}
h1{
    justify-content: center;
    text-align: center;
    margin-top: 20px;

}
.container{
margin: 1rem 18rem ;
justify-content: center;    
background-color:white;
text-align: center;
}
#select{
    margin-bottom: 16px;
}
#Evening{
    margin-bottom: 16px;

}
.btn{
    color: white;
    background-color: rgb(14, 115, 179);
    display: inline;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 9px;
    cursor: pointer;
}
